*.syr
*.xise
*.html
*.cmd_log
*.xrpt
*.xml
*.prj
*.bld
*.lso
*.ncd
*.ngc
*.ngr
*.pad
*.pcf
*.ptwx
*.stx
*.twr
*.twx
*.unroutes
*.xpi
*.xmsgs
*.ngd
*.par
*.xst
*.map
*.mrp
*.ngm
*.csv
*.vho
*.lst
*.ref
*.vdb
iseconfig/
*.log
*.cmd
*.gise
isim/
xlnx_auto_0_xdb/
xilinxsim.ini
counter_example_pad.txt
.DS_Store
proposal.out
spi_master_slave/syn/
*.bgn
*.drc
*.ut
*.xwbt
*.wdb
determ_adc_pad.txt
*.exe
